
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header  */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    /* padding-bottom: 130px ; */
    height: 800px;
    
    
}
/* nav styles   */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: black;

}
/* shared style */


.btn-one{
    font-size: 20px;
    background-color: #FD6E0A;
    border-color: rgb(65, 18, 18);
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
 .ih{
    color: rgb(240, 7, 220);
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 200px;
}
.banner-one{
    max-width: 580px;
}
.hi{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    
}
.name{
font-size: 80px;
font-weight: bold;
color:#181818;
/* background-color: red */
}
.detail{
    color: #757575;
    font-size: 18px;
    font-weight: 200;

}
.photo-one{
    width: 580px;
margin-top: 65px;
border: 2px solid rgb(247, 40, 3);
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color:#757575 ;

}
.secondary-bg{
    color: #FFF8F3;
}
/* main style*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    /* margin-top: 130px;
    margin-bottom: 130px; */
}
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    border: 2px solid tomato;
    overflow: hidden;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    color: #181818;
}
.text-center{
    text-align: center;
}
/* skills section styles  */
.skills-container{
display: flex;
gap: 24px  ;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    /* text-align: left; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section styles */
.resume-container{
    display: flex;
    gap: 20px;
    /* text-align: center; */
}
.experience-description{
color: rgb(117, 117, 117);
font-size: 16px;
line-height: 28px;
}
.experience-sub-title{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
}
.experience-title{
    font-size: 25px;
}
.resume hr{
    margin: 10px;
    color: rgb(209, 209, 209);
}
.download{
    text-align: center;
    margin-top: 50px;
}
.btn-two{
    font-size: 20px;
    background-color: #FD6E0A;
    border-color: rgb(65, 18, 18);
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
footer{
    padding: 120px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
/* body{
    background-color: #f0ecec;
} */
 .hide{
    display: none;
 }


/* Smell media */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        margin: 10px;
    }

    .header{
        background-image: none;
    }
    .banner{
        flex-direction: column;
        margin: 20px;
    }
    .skills-container , .resume-container ,.about-items {
        flex-direction: column;
        
    }
    footer{
        flex-direction: column;
        padding: 15px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"],  footer input[type="email"], footer textarea{
        width: calc( 100% - 30px );
    }
    .about{
        padding: 20px;
        /* flex-direction: column; */
        margin-top: 600px;
    }
    .photo-one{
        width: 100%;
        /* margin-bottom: 300px; */
    }
}
/* medium Device */
@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
        margin: 10px;
    }

    .header{
        background-image: none;
    }
    .banner{
        flex-direction: column;
        margin: 20px;
    }
    .about-items {
        flex-direction: column;
        
    }
    .resume-container{
        flex-direction: column;
        /* display: grid;
        grid-template-columns: 1; */
        border:2px solid #FD6E0A;
        

    }
    .skills-container {
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        flex-direction: column;
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"],  footer input[type="email"], footer textarea{
        width: calc( 100% - 40px );
    }
    .about{
        padding: 20px;
        /* flex-direction: column; */
        margin-top: 900px;
    }
    .photo-one{
        width: 100%;
        /* margin-bottom: 300px; */
    }
    
}